[core]
  # Use Notepad++ as default editor
  editor = "'C:/Program Files (x86)/Notepad++/Notepad++.exe' -multiInst -notabbar -nosession -noPlugin"

  autocrlf = true      # Automatic conversion between CRLF (working directory) and LF (repository)
	safecrlf = false     # Don't warn about converting between CRLF and LF
  filemode = false     # Ignore file mode changes (recommended for Windows)
  trustctime = false   # Ignore ctime differences between the index and the working tree

[color]
	ui = true

[diff]
  # Default diff tool
  tool = p4merge

[difftool "p4merge"]
  # Path to p4merge.exe (cmd is deprecated)
  path = C:/Program Files/Perforce/p4merge.exe

[merge]
  # Default merge tool
  tool = p4merge

[mergetool "p4merge"]
  # Path to p4merge.exe (cmd is deprecated)
  path = C:/Program Files/Perforce/p4merge.exe

[mergetool]
	keepBackup = false       # Don't create .orig files
	prompt = false           # Don't prompt before each invocation of the merge tool
	trustexitcode = false

[log]
  # Print out ref names on commits by default
  decorate = short

[pretty]
  # Custom log format and colors
  custom = "%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset"

[pull]
  # Allow only fast-forward merges when pulling
  ff = only

[push]
  # Push mode for centralized workflows
  default = simple

[rebase]
  # Automatically stash/unstash the working directory before/after rebases
  autostash = true


[alias]
  # Log
  lg = log --graph --pretty=custom --abbrev-commit --date=relative --all
  q = log --graph --pretty=custom --abbrev-commit --date=relative --all -25
  qq = log --graph --pretty=custom --abbrev-commit --date=relative --all -25 --first-parent master
  last = log -1 --stat

  # Common shortcuts
  co = checkout
  cm = checkout master
  mt = mergetool
  rc = rebase --continue
  pom = push origin master

  # Add and commit all changes and new files
  all = "!f() { git add . && git commit -m \"$1\"; }; f"

  # View the current working tree status using the short format
  s = status -s
  st = status

  # Show the diff for staged files
  changes = diff --cached

  # Switch to a branch, creating it if necessary
  go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v

  # Amend the currently staged files to the latest commit
  amend = commit --amend --reuse-message=HEAD

  # Find branches containing commit
  fb = "!f() { git branch -a --contains $1; }; f"

  # Find commits by commit message
  fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"

  # List contributors with number of commits
  contributors = shortlog --summary --numbered

  # Push master branch to all remotes
  pushall = !git remote | xargs -L1 -I R git push R master

  # My commits in the last 2 weeks
  my = log --graph --pretty=custom --abbrev-commit --date=relative --author='darekkay' --since=2.weeks
