init-author-name=Darek Kay
init-author-email=hello@darekkay.com
init-author-url=https://darekkay.com
init-license=MIT

progress=false
save-exact=true

audit=false
fund=false

# this causes issues between the cache and recently published packages
# prefer-offline=true
