# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias cd..='cd ..'

# List files
alias l='ls -al --color=auto'
alias ll='ls -l --color=auto'

# Shortcuts
alias inst='sudo apt-get install'
alias update='sudo apt-get update && sudo apt-get upgrade -y && sudo apt-get dist-upgrade -y && sudo apt-get autoremove -y'

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Edit shell aliases and automatically reload them
alias aliases='nano ~/.bash_aliases && source ~/.bashrc'

# Get week number
alias week='date +%V'

# Download a single website including static resources
alias download='wget -p -k'

# Search/show open ports
alias port='netstat -tulpn | grep --color'
alias ports='netstat -plunt'

# Git
alias q='git q'
alias push-all='find . -mindepth 1 -maxdepth 1 -type d -print -exec git -C {} push \;'
alias pull-all='find . -mindepth 1 -maxdepth 1 -type d -print -exec git -C {} pull --ff-only \;'
alias fetch-all='find . -mindepth 1 -maxdepth 1 -type d -print -exec git -C {} fetch \;'
alias status-all='find . -mindepth 1 -maxdepth 1 -type d -print -exec git -C {} status -s \;'

# Prevent a script from finishing until a key was pressed
alias pause='echo "Press any key to continue..."; read -n 1 -s'

# Misc
alias commands='cat ~/.commands'

# Chmod aliases (e.g.: +x file.sh)
for mod in x w r; do
  alias -- "+$mod"="chmod +$mod"
  alias -- "-$mod"="chmod -- -$mod"
done



# Start an HTTP server from a directory, optionally specifying the port
server() {
  local port="${1:-8000}";
  # Set the default Content-Type to `text/plain` instead of `application/octet-stream`
  # And serve everything as UTF-8 (although not technically correct, this doesn’t break anything for binary files)
  python -c $'import SimpleHTTPServer;\nmap = SimpleHTTPServer.SimpleHTTPRequestHandler.extensions_map;\nmap[""] = "text/plain";\nfor key, value in map.items():\n\tmap[key] = value + ";charset=UTF-8";\nSimpleHTTPServer.test();' "$port";
}

# Search for a running process
task () { ps axuf | grep -v grep | grep "$@" -i --color=auto; }

# Make and cd into directory
mcd () { mkdir $1 && cd $1; }

# Creates an archive (*.tar.gz) from given directory
maketar() { tar cvzf "${1%%/}.tar.gz"  "${1%%/}/"; }

# Create a ZIP archive of a file or folder
makezip() { zip -r "${1%%/}.zip" "$1" ; }

# Extract most know archives with one command
extract () {
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2)   tar xjf $1     ;;
      *.tar.gz)    tar xzf $1     ;;
      *.bz2)       bunzip2 $1     ;;
      *.rar)       unrar e $1     ;;
      *.gz)        gunzip $1      ;;
      *.tar)       tar xf $1      ;;
      *.tbz2)      tar xjf $1     ;;
      *.tgz)       tar xzf $1     ;;
      *.zip)       unzip $1       ;;
      *.Z)         uncompress $1  ;;
      *.7z)        7z x $1        ;;
      *)     echo "'$1' cannot be extracted via extract()" ;;
       esac
   else
       echo "'$1' is not a valid file"
   fi
}

# Show all colors
colors() {
  T='gYw'      # The test text
  echo -e "\n                 40m     41m     42m     43m     44m     45m     46m     47m";
  for FGs in '    m' '   1m' '  30m' '1;30m' '  31m' '1;31m' '  32m' \
             '1;32m' '  33m' '1;33m' '  34m' '1;34m' '  35m' '1;35m' \
             '  36m' '1;36m' '  37m' '1;37m';
    do FG=${FGs// /}
    echo -en " $FGs \033[$FG  $T  "
    for BG in 40m 41m 42m 43m 44m 45m 46m 47m;
      do echo -en "$EINS \033[$FG\033[$BG  $T  \033[0m";
    done
    echo;
  done
  echo
}